@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
  @apply bg-secondary scroll-smooth
}
html{
  scroll-behavior: smooth;
}

.container{
  width: 90%;
  margin: 0 auto;
}
header  .top-script{
 border-bottom: 1px solid #6666 ; 
}
footer  .footer-script{
 border-bottom: 1px solid #6666 ;
}
header  .tb-script{
  border-bottom: 1px solid #6666 ;
}

.texthover{
 @apply hover:text-primary transition duration-700 ease-in-out
}

.fashon_deshing {
  @apply text-[12px] font-light text-black
}

.home_slider_btn {
  @apply absolute top-1/2 left-4 rounded transform -translate-y-1/2 bg-primary text-white  p-2 focus:outline-none hover:bg-gray-900 opacity-0 group-hover:opacity-100 transition-opacity duration-700
}
.home_slider_btn_rigth {
  @apply absolute top-1/2 right-4 transform rounded -translate-y-1/2 bg-primary text-white  p-2 focus:outline-none hover:bg-gray-900 opacity-0 group-hover:opacity-100 transition-opacity duration-700
}

.primaryBtn{
  @apply bg-primary p-[12px] rounded font-medium w-32 border uppercase text-white text-[13px] rounded-r hover:bg-textPrimary
}